## Machine Learning Pipeline - Data Analysis
In the following notebooks, we will go through the implementation of each steps in the Machine Learning Pipeline: 

1. **Data Analysis**
2. Feature Engineering
3. Feature Selection
4. Model Training
5. Obtaining Predictions/Scoring

### Rossman Store Sales Prediction
The aim of the project is to build an end-to-end machine learning model to predict the sales of a given store and a set of inputs, including the promotions, competition, school and state holidays, seasonality, and locality.

## Data Analysis

In [1]:
# to handle datasets
import pandas as pd
import numpy as np

# for plotting
import matplotlib.pyplot as plt
import seaborn as sns

# for the yeo-johnson transformation
import scipy.stats as stats

# to display all the columns of the dataframe in the notebook
pd.pandas.set_option('display.max_columns', None)

In [4]:
# load dataset
df_sales = pd.read_csv('train.csv')
df_store = pd.read_csv('store.csv')

# rows and columns of the data
print(df_sales.shape)
print(df_store.shape)

(914629, 9)
(1115, 10)

In [5]:
# visualise the dataset
print(df_sales.info())
df_sales.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 914629 entries, 0 to 914628
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Store          914629 non-null  int64
 1   DayOfWeek      914629 non-null  int64
 2   Date           914629 non-null  object
 3   Sales          914629 non-null  int64
 4   Customers      914629 non-null  int64
 5   Open           914629 non-null  int64
 6   Promo          914629 non-null  int64
 7   StateHoliday   914629 non-null  object
 8   SchoolHoliday  914629 non-null  int64
dtypes: int64(7), object(2)
memory usage: 62.8+ MB
None

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,4,2015-04-30,6228,650,1,1,0,0
1,2,4,2015-04-30,6884,716,1,1,0,0
2,3,4,2015-04-30,9971,979,1,1,0,0
3,4,4,2015-04-30,16106,1854,1,1,0,0
4,5,4,2015-04-30,6598,729,1,1,0,0

In [6]:
print(df_store.info())
df_store.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB
None

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [7]:
# Merge
df_raw = pd.merge( df_sales, df_store, how = 'left', on = 'Store' )

print(df_raw.info())
df_raw.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 914629 entries, 0 to 914628
Data columns (total 18 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Store                      914629 non-null  int64
 1   DayOfWeek                  914629 non-null  int64
 2   Date                       914629 non-null  object
 3   Sales                      914629 non-null  int64
 4   Customers                  914629 non-null  int64
 5   Open                       914629 non-null  int64
 6   Promo                      914629 non-null  int64
 7   StateHoliday               914629 non-null  object
 8   SchoolHoliday              914629 non-null  int64
 9   StoreType                  914629 non-null  object
 10  Assortment                 914629 non-null  object
 11  CompetitionDistance        912263 non-null  float64
 12  CompetitionOpenSinceMonth  623849 non-null  float64
 13  CompetitionOpenSinceYear   623849 non-null  float64
 14  Promo2                     914629 non-null  int64
 15  Promo2SinceWeek            456646 non-null  float64
 16  Promo2SinceYear            456646 non-null  float64
 17  PromoInterval              456646 non-null  object
dtypes: float64(5), int64(8), object(5)
memory usage: 132.6+ MB
None

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,4,2015-04-30,6228,650,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,4,2015-04-30,6884,716,1,1,0,0,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,4,2015-04-30,9971,979,1,1,0,0,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,4,2015-04-30,16106,1854,1,1,0,0,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,4,2015-04-30,6598,729,1,1,0,0,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [8]:
# copy dataset
df1 = df_raw.copy()

In [9]:
# drop id, it is just a number given to identify each house
df1.drop('Store', axis=1, inplace=True)

df1.shape

(914629, 17)

##### The dataset contains 914629 rows, that is, stores, and 17 columns, i.e. variables
##### 16 are predictive variables and 1 is the target variable: Sales

### Analysis
#### We will analyze the following:
1. The target variable
2. Variable types (categorical and numerical)
3. Missing data
4. Numerical variables
   * Discrete
   * Continuous
   * Distributions
   * Transformations
5. Categorical variables
    * Cardinality
    * Rare labels (if any)
    * Special mappings (if any)